@model ProgrammersBlog.Entities.Dtos.CategoryAddDto
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-plus"></span> Kategori Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Add" id="form-category-add">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none;"></div>

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input class="form-control" asp-for="Description" />
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IpNo"></label>
                        <input class="form-control" asp-for="IpNo" id="IpNo"
                               pattern="^(\d{1,3}\.){3}\d{1,3}$"
                               placeholder="172.16.0.100"
                               title="Geçerli bir IP adresi girin (örn.  172.16.0.100)" />
                        <span class="text-danger" asp-validation-for="IpNo"></span>
                        <span class="text-danger" id="IpNoValidationMessage"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Bina"></label>
                        <select class="form-control" asp-for="Bina">
                            <option value="">Seçiniz...</option>
                            <option value="Ana Hizmet Binası">Ana Hizmet Binası</option>
                            <option value="Ek Hizmet Binası">Ek Hizmet Binası</option>
                            <option value="Makine İkmal">Makine İkmal</option>
                            <option value="Zabıta Müdürlüğü">Zabıta Müdürlüğü</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Bina"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Oda"></label>
                        <input class="form-control" asp-for="Oda" />
                        <span class="text-danger" asp-validation-for="Oda"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PcAdi"></label>
                        <input class="form-control" asp-for="PcAdi" />
                        <span class="text-danger" asp-validation-for="PcAdi"></span>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                        <label asp-for="IsActive" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"><span class="fas fa-times"></span> İptal</button>
                <button type="submit" class="btn btn-primary btn-block" id="btnSave"><span class="fas fa-save"></span> Kaydet</button>
            </div>
        </div>
    </div>
</div>


